version: "3.2"
services:
  dd-opentracing-cpp-example:
    build:
      context: ./
    environment:
      - DD_AGENT_HOST=dd-agent
    depends_on:
      - dd-agent
  dd-agent:
    volumes:
      - '/var/run/docker.sock:/var/run/docker.sock:ro'
      - '/proc/:/host/proc/:ro'
      - '/sys/fs/cgroup/:/host/sys/fs/cgroup:ro'
    environment:
      - 'DD_APM_ENABLED=true'
      - 'DD_LOG_LEVEL=error'
      - DD_API_KEY
    image: 'datadog/agent'
